body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

table,th,tr,td{
    border: 1px solid rgb(120, 118, 118);
    border-collapse: collapse;
}
tr{
    background-color: rgb(255, 255, 255);

}
td:hover{
    background-color: rgb(239, 239, 239);
}
th{
    width: 20vw;
    height: 30px;
    background-color: rgb(230, 244, 252);
    padding: 4px;
}
table{
    width: 100%;
    box-shadow: 0 0 12px black;
    height: 250px;
}

