*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* height: 100vh; */
}

.main{
    width: 400px;
    height: 430px;
    background-color: azure;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.btns{
    display: flex;
    gap: 25px;
}

.title{
    width: 120px;
    height: 120px;
}
.logo{
    width: 100%;
}

button{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
button img{
    width: 100%;
}